@import url('./_header.css');
@import url('./_footer.css');
@import url('./_main.css');

/*========= BASE =========*/
.container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 124.6rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    gap: 3.7rem;
}

/*========= MAIN =========*/
.section-title {
    font-weight: 700;
    font-size: 36.5054px;
    color: #ED1C24;
    text-align: center;
    line-height: 56.5883px;
    font-family: 'Unbounded';
    margin: 0;
    padding: 0;
}
